@import url(./__title/feynman__titile.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);
@import url(./__photo/feynman__photo.css);

.feynman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 790px; /*поправил*/
  padding-top: 100px;
}
